<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>LOGIN</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" position="floating">Username</ion-label>
    <ion-input [(ngModel)]="admin1.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input [(ngModel)]="admin1.password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="loginbeneran()">Log In</ion-button>
</ion-content>