<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" position="floating">Username</ion-label>
    <ion-input [(ngModel)]="admin1.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input [(ngModel)]="admin1.password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="admin1.hak_akses" placeholder="Pilih Hak akses">
      <ion-select-option value="1">Pelanggan</ion-select-option>
      <ion-select-option value="0">Admin</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" (click)="adduser()">Tambahkan User</ion-button>
</ion-content>
