<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    <ion-title>Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>nomor lampu</ion-col>
        <ion-col>on/off</ion-col>
        <ion-col>otomatis</ion-col>
      </ion-row>
      <ion-row *ngFor="let lampu of listlampu">
        <ion-col></ion-col>
        <ion-col> <ion-toggle [(ngModel)]="lampu"></ion-toggle></ion-col>
        <ion-col><ion-toggle [(ngModel)]="otomatis"></ion-toggle>
        </ion-col></ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
